$color1: #202029;
$color2: #1d2c5c;
$color3: #c1c1c1;
$color4: #184c92;
$color5: #707070;
$color6: #dfe7ff;
$color7: #071443;
$color8: #e8c746;
$color9: #d9d9d9;
$color10: #4363d6;
$color11: #bbbbbb;
$color12: #4370ff;
$color13: rgba(32, 32, 41, 0.8);
$color14: #7e7e7e;
$color15: #c5c5c5;
